// Import Google fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: "Roboto", "Segoe UI", "sans-serif";
}

.main-title {
  color: black;
  font-family: 'Pacifico', cursive;
}
