// Import Google fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:400,700|Work+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

body {
  font-family: "Work Sans", "Helvetica", "sans-serif";
}
header {
  font-family: "Nunito", "Helvetica", "sans-serif";
}

.main-title {
  color: black;
  font-family: 'Pacifico', cursive;
}
