<div class="container flex-grow">
  <div class="flex align-center">
    <div class="catch-phrase">
      <h2>Gérez vos listes de tâches simplement</h2>
      <%= link_to  "Accéder à mes tâches", tasks_path, class: "btn btn-green" %>
    </div>
    <%= image_tag("home.svg", alt: "home banner") %>
  </div>
</div>