<div class="container mt-5">
  <div class="row align-items-center">
    <div id="logo" class="col-12 mb-5 col-lg-8 order-lg-1 mb-lg-0">
      <%= image_tag("home.svg", alt: "home banner") %>
    </div>
    <div class="col-12 col-lg-4">
      <h2>Gérez vos listes de tâches simplement</h2>
      <%= link_to  "Accéder à mes tâches", tasks_path, class: "btn btn-primary" %>
    </div>
  </div>
</div>