<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-md-10 col-lg-6">
      <div class="forms">
        <h2>Nouvelle tâche</h2>

        <%= render  "form" %>
      </div>
    </div>
  </div>
</div>
