.btn {
  background-color: blue;
  color: white;
  padding: 12px;
  border-radius: 14px;
  &:hover {
    color: #eee;
  }
  transition: all .3s ease;
}

.btn-green {
  background-color: #28a745;
  &:hover {
    background-color: #269540;
  }
}